html, body {
    margin: 0;
}
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;

}

a{
    color: rgb(117, 118, 179);
}

a:hover {
    color: #f00;
}   


ul li.active a {
    color: red; /* Cor do link ativo */
}





h2, h3, p, a{
    color:  rgb(78, 78, 83);
    font-family: 'Courier New', Courier, monospace;
}   

.wrapper {
    width: 100%;

    display: flex;
    margin: 0;
    background-color: rgb(255, 252, 252);
    padding: 3%;
    max-width: 900px;

}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color:  rgb(224, 242, 242);
    padding: 10px 20px 0px;
    border-radius: 10px;

}
.header {
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    border-radius: 10px 10px 10px;
    display: flex;
    padding: 10px;
}
.content {
    background-color: rgb(247, 247, 247);
    min-height: 400px;
    padding: 20px;
    border-radius: 0 10px 10px 0;
}

.center-image {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 2px;

}
.footer {
    background-color:  rgb(255, 255, 255);
    min-height: 50px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;


}

.footer p {
    text-align: center;
    font-size: 0.8em;
    color: rgb(78, 78, 83);
}


table {
    border-collapse: collapse;
    width: 80%;
    margin: 30PX auto;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}   

tr:hover {
    background-color: #f5f5f5;
}

